@import "../components/buttons.scss";
@import "../utils/mixins.scss";


.personalspace-block{
    width: 35%;
    @include flex-center(column);
    margin: auto;
    
    height: 60vh;
    border-radius: 7px;
    font-size: $font-size-p;
    border: 1px solid $primary-color-grey;

    .login-registration-block-title{
        color: $primary-color-blue;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
   

    form {
        
        width: 100%;
        max-width: 400px;
        
        .form-group {
            margin: 1rem;
            display: flex;
            justify-content: center;

            input[type="email"],
            input[type="password"],
            input[type="firstName"],
            input[type="lastName"],
            input[type="departament"] {
                font-family: "Inter", sans-serif;
                font-size: 18px;
                width: 90%;
                height: 4rem;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                padding-left: 0.5rem;
                font-family: "Inter", sans-serif;
                &:focus {
                    outline: none;
                    box-shadow: inset 0 -1px 0 $primary-color-blue;
                }
            }
        }
    }
}



