@import "../components/buttons.scss";
@import "../utils/mixins.scss";

.login-registration-block {
    width: 35%;
    @include flex-center(column);
    margin: auto;
    //background-color: $secondary-color-grey;
    border: 1px solid $primary-color-grey;
    height: 60vh;
    border-radius: 7px;
    font-size: $font-size-p;
    .login-title{
        color: $primary-color-blue;
        font-size: 1.5rem;
    }
    form {
        width: 100%;
        max-width: 400px;
        padding-top: 1rem;
        .form-group {
            
            margin: 1rem;
            display: flex;
            justify-content: center;
            input[type="email"],
            input[type="password"],
            input[type="firstName"],
            input[type="lastName"],
            input[type="departament"] {
                font-family: "Inter", sans-serif;
                
                width: 90%;
                height: 4rem;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                padding-left: 0.5rem;
                font-family: "Inter", sans-serif;
                font-size: 18px;
                &:focus {
                    outline: none;
                    box-shadow: inset 0 -1px 0 $primary-color-blue;
                }
            }
        }
    }
}



