.comments{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .write{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin: 20px 0px;

        input{
            flex: 5;
            padding: 10px;
            border: 1px solid gray;
            
        }

        button{
            border:none;
            background-color: #D1515A;
            color: white;
            font-weight: 500;
            padding: 11px;
            cursor: pointer;
            border-radius: 5%;
        }
    }
    .comment{
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        

        .info{
            flex: 6;
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: flex-start;

            span {
                font-weight: 500;
            }

            p{
                font-size: 16px;
            }
        }

        .time {
            flex: 1;
            align-self: center;
            font-size: 12px;
            color: gray;
        }

    }
}