.post {
    //display: flex;
    width: 60vw;

    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    background-color: white;

    .container {
        padding: 20px;

        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .userInfo {
                display: flex;
                flex-direction: row;
                gap: 20px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .details {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: 500;
                        color: rgb(44, 44, 44);
                    }

                    .date {
                        font-size: 12px;
                        color: rgb(77, 77, 77);
                    }
                }
            }
        }

        .content {
            p {
                margin-top: 20px;
            }
            img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                margin-top: 20px;
            }
        }

        .info {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            .item {
                display: flex;
                align-items: center;
                gap: 7px;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
}
