.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 30px;
    //padding-right: 30px;
    background-color: #3b495e;
    //height: 50px;
    border-bottom: 1px solid #122542;
    position: fixed;
    top: 0;
    width: 100%;
    .left {
        img {
            height: auto;
            width: 200px;
        }

        .logoIcon{
            display: none;
        }

        @media (max-width: 480px) {
            .logoIcon {
                display: block;
                height: auto;
                width: 30px;
                padding-top: 3px;
            }
        }

        .logo {
            @media (max-width: 480px) {
                display: none;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        @media (max-width: 480px) {
            gap: 15px;
        }
        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: 60px;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-weight: 500;
                color: white;
                font-size: 14px;
            }
        }
    }
}
