@import "../utils/variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #122542c0;
    height: 50px;
    border-bottom: 1px solid $primary-color-blue;
    .left {
        img {
            height: auto;
            width: 250px;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 40px;
        .user {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-weight: 500;
                color: white;
            }
        }
    }
}
