@import "../layouts/nav--persona-space.scss";
@import "../utils/variables.scss";
@import "../utils/resets.scss";
@import "../components/newPost.scss";
@import "../components/feedPost.scss";

.Forum--Main {
    @include flex-right(column);
    background-color: white;
    height: 90vh;
    overflow-y: auto;

    .forumContainer{
        width: 50%;
        margin-left: 10%;
    }
    
}