@import "../layouts/nav--login-signup.scss";
@import "../utils/variables.scss";
@import "../components/form--login-signup.scss";
@import "../utils/resets.scss";

//Main container
.LoginSignup--Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    background-color: white;
    height: 90vh;
    margin-left: 5vw;
    margin-right: 5vw;

    .login-registration-blockSignUp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 55%;
        height: 70vh;
        img {
            height: auto;
            max-width: 800px;
            padding-top: 0.5rem;
        }

        #signUpimage{
            padding-top: 7vh;
            max-width: 900px;
        }

        .titles {
            margin: auto;
            h1 {
                font-size: 6rem;
                color: $primary-color-blue;
                
            }
        }
    }

    

    //Name of the website in the main container
    
}
