//@import "../layouts/nav--login-signup.scss";
@import "../utils/variables.scss";
//@import "../components/form--login-signup.scss";
//@import "../utils/resets.scss";

.Login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .LoginSignup--Main {
        display: flex;
        border: 1px solid $primary-color-grey;
        border-radius: 7px;
        width: 50%;
        min-height: 600px;
        .login-form-container {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            h2 {
                color: $primary-color-blue;
                font-size: 45px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 37px;
                input {
                    padding: 20px;
                    border-radius: 7px;
                    border: 1px solid $primary-color-grey;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                        box-shadow: inset 0 -1px 0 $primary-color-blue;
                    }
                }
            }

            button {
                width: 100%;
                padding: 10px;
                font-size: 20px;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                background-color: $primary-color-blue;
                color: white;
                &:hover {
                    box-shadow: 0 0 10px $primary-color-grey;
                }
                cursor: pointer;
            }
        }

        .login-image-container {
            border-radius: 0 7px 7px 0;
            flex: 1;
            background: linear-gradient(#1225429a, #12254296),
                url("https://images.pexels.com/photos/3182765/pexels-photo-3182765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
                    center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: white;

            h1 {
                font-size: 55px;
            }

            p {
                font-size: 20px;
            }

            span {
                font-size: 20px;
            }

            button {
                width: 50%;
                padding: 10px;
                font-size: 20px;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                background-color: #d1515a;
                color: white;
                &:hover {
                    box-shadow: 0 0 10px $primary-color-grey;
                }
                cursor: pointer;
            }
        }
    }
}