@import "../utils/variables.scss";

@import "../utils/resets.scss";

.personalSpace {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    overflow-y: auto; 
    height: 100vh;
}