@import "../utils/variables.scss";

.Signup {
    height: 80vh;
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .Signup--Main {
        display: flex;
        border: 1px solid $primary-color-grey;
        border-radius: 7px;
        width: 50%;
        max-height: 500px;

        .Singup-image-container {
            //border-radius: 7px 0 0 7px;
            flex: 1;
            background: linear-gradient(#1225429a, #12254296),
                url("https://images.pexels.com/photos/7971359/pexels-photo-7971359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
                    center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            color: white;

            h1 {
                font-size: 40px;
            }

            span {
                font-size: 20px;
            }

            button {
                width: 50%;
                padding: 25px;
                font-size: 14px;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                background-color: #d1515a;
                color: white;
                &:hover {
                    box-shadow: 0 0 10px $primary-color-grey;
                }
                cursor: pointer;
            }
        }

        .signup-form-container {
            flex: 1;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2 {
                color: $primary-color-blue;
                font-size: 35px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 10px;
                    border-radius: 7px;
                    border: 1px solid $primary-color-grey;
                    font-size: 14px;
                    &:focus {
                        outline: none;
                        box-shadow: inset 0 -1px 0 $primary-color-blue;
                    }
                }
            }

            button {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                background-color: $primary-color-blue;
                color: white;
                &:hover {
                    box-shadow: 0 0 10px $primary-color-grey;
                }
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .Signup {
        margin-top: 0vh;
        
        .Signup--Main {
            display: flex;
            flex-direction: column;
            border: none;
            border-radius: none;
            width: 100%;
            padding: 0px;
            margin-top: -5%;

            .Singup-image-container {
                border-radius: none;
                flex: 1;
                justify-content: center;
                align-items: center;
                gap: 10px;

                h1 {
                    font-size: 35px;
                }

                span {
                    font-size: 15px;
                }

                button {
                    width: 90px;
                    padding: 8px;
                    font-size: 14px;
                    border-radius: 4px;
                }
            }

            .signup-form-container {
                padding-top: 20px;
                padding-bottom: 20px;
                justify-content: center;
                align-items: center;
                gap: 15px;
                h2 {
                    font-size: 25px;
                }

                form {
                    gap: 10px;
                    width: 80%;
                    input {
                        padding: 8px;
                        border-radius: 4px;
                        font-size: 12px;
                    }
                }

                button {
                    width: 80%;
                    padding: 8px;
                    font-size: 14px;
                    border-radius: 4px;
                }
            }
        }
    }
}
